<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input style="margin: 20px;" type="password" v-model="messaggio2H1" placeholder="inserisci la password
    ">

    <h1 :class="classiH1">{{messaggioH1}} <span :class="classeActive">{{messaggio2H1}}</span></h1>

    <button style="margin: 20px;" @click = "attiva(' active')">diventa un hacker</button>

    <h1 :class = "miaClasse">Questo testo può cambiare colore</h1>
    <button style="margin: 20px;" @click = "cambiaClasse(' brown')"> colore marrone</button>
    <button style="margin-left: 5px;" @click = "cambiaClasse(' green')"> colore green</button>

    <input style="display: block;margin: 20px;" @keyup="keyEnter" type="text" v-model="text_p" placeholder="inserisci la password
    ">

    <h1 style="margin: 0 20px;">{{text}}</h1>

    <img :src="img" :class="classeImg1" alt="">


  </div>

  <script src="assets/js/script.js"></script>
</body>
</html>