*{
  box-sizing: border-box;
  margin: 0 ;
  padding : 0;
}

.testoH1{
  font-size: bold;
  color: blueviolet;
  text-shadow: black;
  margin : 10px;
}

.green{
  color: green;
}

.brown{
  color: brown;
}

.testoNascosto{
  display: none;
}

.active{
  display: inline-block;
}